.chat-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    background: #211c26;
    max-width: 60em;
    width: 100%;
    min-height: 40em;
    border-radius: 0.5em;
    color: #fff;
    box-shadow: 0.2em 0.5em 2em rgba(0,0,0, 0.5);
}
@media (width <= 430px) {
    .chat-container {
        max-width: 26em;
    }
}