.message-input-form {
    position: relative;
    padding: 0.5em 2em;
}
.send-button {
    
    &:disabled {
        color: rgb(216, 171, 171);
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.message-input {
    width: 100%;
    padding: 0.7em;
    border-radius: 1em;
    background-color: #ebebeb;
}
.message-input-form button {
    position: absolute;
    right: 3em;
    bottom: 50%;
    top: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #826666;
}